body {
  margin: 0;
  padding: 5%;
  text-align: center;
  font-family: sans-serif;
}

.note {
	color: steelblue;
	font-size: 14px;
	font-style : italic;
	text-align: left;
	padding: 5px;
}

.formcontrol{
	padding-bottom: 10px;
}

@import url("../node_modules/bootstrap/dist/css/bootstrap.css");

